CONFIG_BUSYBOX=y
CONFIG_STATIC=y
CONFIG_LFS=y
# CONFIG_SH_IS_ASH is not set
# CONFIG_SH_IS_HUSH is not set
CONFIG_SH_IS_NONE=y
# CONFIG_BASH_IS_ASH is not set
# CONFIG_BASH_IS_HUSH is not set
CONFIG_BASH_IS_NONE=y
CONFIG_TRUE=y
CONFIG_FALSE=y
CONFIG_YES=y
CONFIG_ECHO=y
CONFIG_PRINTF=y
CONFIG_PWD=y
CONFIG_BASENAME=y
CONFIG_DIRNAME=y
CONFIG_CAT=y
CONFIG_HEAD=y
CONFIG_TAIL=y
CONFIG_WC=y
CONFIG_MKDIR=y
CONFIG_RMDIR=y
CONFIG_RM=y
CONFIG_CP=y
CONFIG_MV=y
CONFIG_LN=y
CONFIG_READLINK=y
CONFIG_TOUCH=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
CONFIG_SYNC=y
CONFIG_SLEEP=y
CONFIG_DATE=y
CONFIG_UNAME=y
CONFIG_KILL=y
CONFIG_TEST=y
CONFIG_TEST1=y
CONFIG_SORT=y
CONFIG_UNIQ=y
CONFIG_FEATURE_FANCY_ECHO=y
CONFIG_FEATURE_FANCY_HEAD=y
CONFIG_FEATURE_FANCY_TAIL=y
CONFIG_FEATURE_SORT_BIG=y
